# Node Modules
node_modules/

# React
build/
src/react-app-env.d.ts

# Public
public/index.html
public/*.ico
public/*/*.png

# Environment
.env*

# Other
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
